#column-1 footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background: #111;
    text-align: center;

    .logged-as
    {
        font-size: 0.8em;

        a
        {
            color: #444;
            text-decoration: none;

            &:hover
            {
                color: #999;
            }
        }
    }
}