#main-wrap
{
    &:before
    {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        z-index: 9999;
        background: theme-color();
    }
}

#sidebar
{
    position: fixed;
    width: $sidebarWidth;
    height: 100vh;
    background: #191919;
    color: white;
    z-index: 5000;
    -webkit-transform: translateZ(0);
}

#sections
{
    position: fixed;
    left: $sidebarWidth;
    top: 0;
    width: $sectionsWidth;
    height: 100vh;
    background: theme-color(45%);
    border-right: 1px solid #DDD;
}

#products
{
    $offset: $sidebarWidth;

    position: absolute;
    top: 0;
    left: $offset;
    width: calc( 100% - #{$offset} );

    .top
    {
        display: flex;
        position: relative;
        height: $top-row-height;
        background: #f9f9f9;
    }

    .form
    {
        margin: auto 0;
        padding: 0 1em;
        width: 100%;

        input,
        select,
        button
        {
            float: left;
        }

        input[type=text]
        {
            width: 67.5%;
            margin-right: 1.25%;
        }

        select
        {
            width: 20%;
            margin-right: 1.25%;
            padding: 0.675em 10px;
            background: white;
        }

        input,
        select
        {
            font-size: 1em;
        }

        button
        {
            float: left;
            width: 10%;
            height: 42px;
        }
    }
}

main.products-index.sections #products
{
    width: calc( 100% - ( #{$sidebarWidth} + #{$sectionsWidth} ) );
    left: $sidebarWidth + $sectionsWidth;
}