#main-wrap
{
    &:before
    {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        z-index: 50000;
        background: $theme-color;
    }
}

#sidebar
{
    position: fixed;
    width: 300px;
    height: 100vh;
    background: #191919;
    color: white;
    z-index: 5000;
    -webkit-transform: translateZ(0);
}

#sections
{
    position: fixed;
    left: 300px;
    top: 0;
    width: 250px;
    height: 100vh;
    background: lighten( $theme-color, 40% );
}

#products
{
    $offset: 300px;

    position: absolute;
    top: 0;
    left: $offset;
    width: calc( 100% - #{$offset} );
    border-left: 1px solid hsl(0,0%,78%);

    .top
    {
        display: flex;
        position: relative;
        height: $top-row-height;
        background: white;
    }

    .form
    {
        margin: auto 0;
        padding: 0 1em;
        width: 100%;

        input,
        select,
        button
        {
            float: left;
        }

        input,
        select
        {
            font-size: 1em;
        }

        input[type=text]
        {
            padding: 0.675em;
            width: #{'calc(100% - 160px - 120px)'};
            border: 1px solid #BBB;
            border-right: 0;
            border-radius: 5px 0 0 5px;
            outline: none;

            &:focus
            {
                box-shadow: 0 0 5px 2px $theme-color;
            }
        }

        select
        {
            width: 160px;
            padding: 0.675em;
            border-radius: 0;
            -webkit-appearance: none;
        }

        button
        {
            float: left;
            width: 120px;
            height: 42px;
            border: none;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            background: $theme-color;
            vertical-align: middle;
            color: white;
            font-weight: bold;
            font-size: 1em;

            &:hover
            {
                background: lighten( $theme-color, 5% );
            }
        }
    }
}