#column-1
{
    position: fixed;
    width: 300px;
    height: 100vh;
    background: #191919;
    color: white;
    z-index: 5000;
}

/*
main
{
    position: absolute;
    top: 0;
    right: 0;
    width: calc( 100% - 300px );
}
*/

#column-2
{
    position: fixed;
    left: 300px;
    top: 0;
    width: 250px;
    height: 100vh;
    background: lighten( $theme-color, 40% );

    nav
    {
        .title
        {
            display: flex;
            height: $top-row-height;
            background: lighten( $theme-color, 45% );
        }

        h1
        {
            margin: auto;
            text-align: center;
            font-size: 2em;
            color: lighten( $theme-color, 20% );
            font-family: $cursive;
        }

        li
        {
            margin-bottom: 3px solid white;

            a
            {
                display: block;
                padding: 0.5em;
                color: darken( desaturate( $theme-color, 30% ), 30% );
                text-decoration: none;

                &:hover
                {
                    background: lighten( $theme-color, 35% );
                }
            }

            &.active
            {
                a
                {
                    background: $theme-color;
                    color: white;
                }
            }

            &:nth-child(even)
            {

            }
        }
    }
}

#column-3
{
    position: absolute;
    top: 0;
    left: 550px;
    width: calc( 100% - 550px );
    border-left: 1px solid hsl(0,0%,78%);

    .list
    {
        .top
        {
            display: flex;
            position: relative;
            height: $top-row-height;
            background: white;
        }

        .form
        {
            margin: auto 0;
            padding-left: 1em;
            width: 100%;

            fieldset
            {
                position: relative;
                float: left;
                width: calc( 100% - 55px );
                margin: 0;
                padding: 0;
                border: 0;
                vertical-align: middle;
            }

            input,
            select
            {
                font-size: 1em;
            }

            input[type=text]
            {
                padding: 0.6em;
                width: 100%;
            }

            select
            {
                position: absolute;
                top: 10px;
                right: 10px;
                padding: 0.5em;
            }

            button
            {
                float: left;
                width: 42px;
                height: 41px;
                border: none;
                border-radius: 0 50% 50% 0;
                cursor: pointer;
                background: $theme-color;
                vertical-align: middle;
                color: white;
                font-weight: bold;
                font-size: 2.1em;

                &:hover
                {
                    background: lighten( $theme-color, 5% );
                }
            }
        }

        ul
        {

        }

        li
        {
            padding: 0.6em 1em;
            background: #f3f3f3;
            list-style-type: none;

            &:nth-child(even)
            {
                background: #e6e6e6;
            }
        }
    }
}