body
{
    margin: 0;
    font-family: $serif;
    font-size: 16px;
}

ul, ol
{
    padding: 0;
    margin: 0;
}

*
{
    box-sizing: border-box
}

input,
{
    margin: 0;
}

select
{
    -webkit-appearance: none;
}

input[type=text],
input[type=email],
select
{
    padding: 0.675em 10px;
    box-shadow: none;
    border: 1px solid #CCC;
    transition: box-shadow 100ms ease-out;
}

%InputFocus
{
    outline: none;
    background: white;
    border: 1px solid theme-color(-5%);
    box-shadow: 0 0 4px 2px theme-color(20%);
}

input[type=text],
input[type=email],
select,
.btn
{
    border-radius: 4px;
    font-size: 1em;

    &:focus
    {
        @extend %InputFocus;
    }
}

.btn
{
    padding: 0.675em 10px 0.7em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: theme-color();
    vertical-align: top;
    color: white;
    font-weight: bold;

    &:hover
    {
        background: theme-color(-10%);
    }
}


