#products
{
    .list
    {
        h2
        {
            margin: 0;
            padding: 0 0 10px 50px;
            color: darken($theme-color,30%);
            font-family: $cursive;
        }

        .group
        {
            margin: 30px 0;
        }
    }
}

.product
{
    display: flex;
    position: relative;
    height: 44px;
    background: #f3f3f3;
    cursor: pointer;
    list-style-type: none;

    .remove
    {
        width: 30px;
        height: 30px;
        margin: auto 15px auto 10px;
        border-radius: 3px;
        background: $theme-color no-repeat center center;
        background-size: 50%;
        opacity: 0;
        transform: scale(0);
        transition: 200ms ease-in-out;
        transition-property: opacity, transform;
    }

    .name
    {
        margin: auto 0;
    }

    &:hover
    {
        color: darken($theme-color,20%);

        .remove
        {
            opacity: 0.3;
            transform: scale(0.4);
        }
    }

    &.selected
    {
        color: darken($theme-color,20%);

        .remove
        {
            opacity: 1;
            background-image: url(../img/checkmark.svg);
            transform: scale(1);

            &:hover
            {
                background-color: darken($theme-color,10%);
                background-image: url(../img/delete.svg);
            }
        }
    }

    &:nth-child(even)
    {
        background-color: #e9e9e9;
    }
}