.ui-notification
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5em 0.7em;
  box-shadow: 0 0 2px #CCC;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  z-index: 10000;
  -webkit-animation: notificationSlide 800ms ease-out;

  &.success
  {
    background-color: hsl(93, 60%, 40%);
  }

  &.error
  {
    background-color: hsl(36, 82%, 52%);
  }
}

@-webkit-keyframes notificationSlide
{
  from { transform: translateY(-100%) }
  to   { transform: translateY(0)     }
}