$theme-color: hsl( /*random(359)*/ 80, 50%, 50% ); //200

$top-row-height: 120px;

$serif:   'Lato', Helvetica, sans-serif;
$cursive: 'Boogaloo', cursive;

$sidebarWidth: 300px;
$sectionsWidth: 220px;