@import 'common';
@import 'ui';

body
{
    background: #F5F5F5;
}

main
{
    display: flex;
    position: relative;
    height: 100vh;

    #login
    {
        width: 380px;
        margin: auto;
        background: #191919;
        border-radius: 2px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.5);

        h1
        {
            padding: 30px;
            margin: 0;
            background: #111;
            border-radius: 3px 3px 0 0;
            font-weight: bold;
            font-size: 3.6em;
            text-align: center;
            color: $theme-color;
            font-family: $cursive;
        }

        form
        {
            padding: 30px;
        }

        .field
        {
            margin-bottom: 0.5em;
        }

        input[type=password],
        input[type=email]
        {
            display: block;
            width: 100%;
            padding: 0.5em;
            border: none;
            font-size: 1.2em;
        }

        button
        {
            display: block;
            width: 100%;
            padding: 0.6em 0;
            margin-top: 26px;
            border: none;
            cursor: pointer;
            background: $theme-color;
            color: #111;
            font-size: 1.4em;
            text-align: center;

            &:hover
            {
                background: lighten($theme-color,5%);
            }
        }
    }
}