
$green: green;

$serif:   'Lato', Helvetica, sans-serif;
$cursive: 'Boogaloo', cursive;


body
{
    margin: 0;
    background: #F5F5F5;
    font-family: $serif;
    font-size: 16px;
}

.float-wrap
{
    overflow: hidden;
}

* { box-sizing: border-box }

input
{
  margin: 0;
}

@import 'ui';
@import 'layout';
@import 'header';
@import 'footer';
//@import 'admin';
