.products-edit
{
    .product
    {
        padding: 0.6em 0 0.55em 30px;

        form
        {
            display: inline;
        }

        .name,
        select
        {
            margin-right: 15px;
            background: hsla( 0, 100, 100, 60 );
            color: #666;

            &:focus
            {
                background: hsla( 0, 100, 100, 100 );
            }
        }

        .name
        {
            width: 30%;
            min-width: 280px;

            &:focus
            {
                color: #333;
            }
        }

        select
        {
            width: 20%;
            min-width: 180px;
            -webkit-appearance: none;
        }

        .btn
        {
            //width: 100px;
        }

        .DeleteProductForm
        {
            margin-left: 20px;

            .warning
            {
                display: none;
            }

            &.warning
            {
                .btn
                {
                    background: red;
                    color: white;
                    text-transform: uppercase;

                    .warning
                    {
                        display: inline;
                    }

                    .default
                    {
                        display: none;
                    }
                }
            }
        }

        &.invalid
        {
            input
            {
                border-color: #c00;
            }
        }
    }
}