main[data-sections]
{
    #sections, #products
    {
        transition: 200ms ease-out;
    }

    &[data-sections="0"]
    {
        #sections
        {
            transform: translateX(-100%);
        }

        #products
        {
            width: calc( 100% - #{$sidebarWidth} );
            left: $sidebarWidth;
        }
    }

    &[data-sections="1"]
    {
        #sections
        {
            transform: translateX(0);
        }
    }
}

#sections
{
    .title
    {
        display: flex;
        height: $top-row-height;
        background: theme-color(40%);
        text-align: center;
        font-family: $cursive;
        font-weight: bold;
        -webkit-font-smoothing: subpixel-antialiased;
    }

    h2
    {
        margin: auto;
        font-size: 2em;
        color: theme-color( 20%, -10% )
    }

    nav
    {
        height: calc( 100vh - #{$top-row-height} );
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    ul
    {
        border-top: 1px solid white;
        font-size: 0.9em;

        li
        {
            a
            {
                display: block;
                padding: 0.5em 1em 0.4em;
                border-bottom: 1px solid white;
                text-decoration: none;
                color: theme-color( -30%, -40% );
            }

            &:nth-child(even) a
            {
                background: theme-color(40%);
            }

            &.selected a
            {
                background: theme-color(-10%);
                color: white;
                font-weight: bold;
            }

            &:not(.selected) a:hover
            {
                border-bottom-color: theme-color();
                color: theme-color( -45%, -45% );
            }
        }
    }
}